.outerContainer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 10px;
  cursor: move;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 20px;
  height: 380px;
  width: 270px;
  z-index: 9999;
}

.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #040404;
  border-radius: 10px 10px 0 0;
  height: 30px;
  width: 100%;
  font-size: 13px;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.onlineIcon {
  margin-right: 5%;
}
